#root {
  min-width: auto;
  margin: 0 auto;
  text-align: center;
}

body{
  background-color: black;
  min-height: 100vh;
}

.star-wars-logo {
  width: 13rem;
  margin-top: -60px;
}

.animated-underline {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.animated-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f5f5f4; /* Color de la línea */
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.animated-underline:hover::after {
  visibility: visible;
  width: 100%;
}

.buttons-landing{
  margin-top: -30px;
}

.light{
  transition: box-shadow 0.3s ease-in-out;
}

.light:hover{
  box-shadow: 0 0 10px #ffffff;
}

.card-side {
  overflow: hidden;
}

.text-img{
  margin-top: 230px;
  margin-left: 100px;
}




